html(lang="en")
  head
    meta(charset="utf-8")
    script(type="module", src="https://cdn.skypack.dev/maplibre-gl/dist/maplibre-gl.js")
    link(href="https://cdn.skypack.dev/maplibre-gl/dist/maplibre-gl.css", rel="stylesheet")
    link(href="./page.css", rel="stylesheet")
  body
    div(id="map")
    div(id="attribution") #{attribution}
    script(type="module", src="./page.js")
